body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 1em;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: orange;
}

.blue {
  background-color: skyblue;
}

.badge {
  padding: 0.3em;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.darkmode {
  color: azure;
  background-color: darkslategrey;
}

button {
  font-family: inherit;
  padding: .5em 1em;
  margin: 1em;
  border-radius: 5px;
  background-color: inherit;
  color: inherit;
}