body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

hr {
    margin: 2em 0;
}

hr:last-child {
    display: none;
}

h2:first-child {
    margin-top: 4em;
}

nav {
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    margin: 0;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    gap: 1em
}

li {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin-top: 0;
}