* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    color: whitesmoke;
    text-shadow: 0 0 5px #3a3a3a;

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



h1, h2, h3, h4, p {
    margin: 1em;
}

p {
    opacity: .85;
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.quote-container {
    grid-column: -1 / 1;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

#main-quote {
    margin: 0 1em;
}

#quote-author {
    text-align: right;
    margin: 0 1em;
}

#location, #weather {
    grid-column: 3;
    text-align: right;
}

#weather {
    margin: 1em 1em 0 auto;
    width: max-content;
    font-weight: bold;
}

#time {
    margin: 0;
    font-size: 5em;
}

#crypto-info {
    width: fit-content;
    line-height: 0.4;
    margin-bottom: -10em;
    font-weight: bold;
}

#crypto-info > * {
    opacity: 1;
}