* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    display: grid;
    align-items: center;
    height: 100vh;
    background: linear-gradient(322deg, rgb(0, 196, 196) 29%, rgb(28, 28, 28) 29%, rgb(28, 28, 28) 39.9%, rgb(0, 196, 196) 40%, rgb(0, 196, 196) 47.9%, rgb(28, 28, 28) 48%, rgb(28, 28, 28) 91.9%, rgb(0, 196, 196) 92%, rgb(0, 196, 196) 100%);
    color: whitesmoke;
    /* text-align: center; */
}

h1 {
    font-weight: 400;
    font-size: 2.3em;
    margin-top: 0;
}

span {
    font-weight: bold;
    color: rgb(0, 196, 196);
    position: relative;
}

span::before {
    position: absolute;
}

p {
    text-transform: uppercase;
    font-size: 1.2em;
}

.container {
    width: 40%;
    margin-left: 4em;
    height: 50vh;
}