body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(136, 136, 136);
    background-image: url('./img/winter.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    height: 100vh;
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    border-radius: .4em;
    color: white;
    background-color: rgb(25, 185, 132);
    border: none;
    transform: scale(1);
    transition: .2s;
    transition-property: border, scale, opacity;
    margin: 1em;
    /* position: absolute; */
    /* max-height: 2em; */
}

button:hover,
button:active {
    transform: scale(1.1);
    opacity: .7;
    border: 2px solid black
}

.red {
    background: red;
}

.blue {
    background: rgb(0, 140, 255);
}