* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2em;
    font-family: 'Montserrat', cursive;
    background-color: rgb(156, 156, 156);
}

.cta {
    padding: 1em;
    border: 2px solid lightblue;
    border-radius: 5px;
    margin: 1em;
}

a {
    margin: 1em;
}

button {
    font-family: inherit;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1em;
}

.dark-theme {
    background-color: #333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333;
}

h2 {
    padding: .5em 1em;
    border: 2px solid black;
}