* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2em;
    font-family: 'Macondo', cursive;
}

.cta {
    padding: 1em;
    border: 2px solid lightblue;
    border-radius: 5px;
    margin: 1em;
}