body{
    margin: 0;
    padding: 1em;
}

.grid {
    width: 220px;
    height: 220px;
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: rgb(194, 255, 235);
    border: 1px solid white;
    width: 20px;
    height: 20px;
}

.snake {
    background-color: gray;
}

.apple {
    background-color: brown;
}